Repository Recipe-Web-App/media-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, rust, tests, domain, application, infrastructure, api, database, storage, http, middleware, scripts, kubernetes, pre-commit

fix: added dependabot reviewer config
  .github/dependabot.yml
Labels: github, configuration

chore: removed deprecated config from dependabot
  .github/dependabot.yml
Labels: github, configuration

fix: fixed deprecated usage causing build failure
  Cargo.lock
  src/infrastructure/http/mod.rs
Labels: dependencies, rust, infrastructure, http

chore: auto updated all pre commit hooks
  .markdownlintignore
  .pre-commit-config.yaml
  src/infrastructure/oauth2/client.rs
Labels: configuration, rust, infrastructure, pre-commit

chore: auto updated all pre commit hooks (#111)
  .markdownlintignore
  .pre-commit-config.yaml
  src/infrastructure/oauth2/client.rs
Labels: configuration, rust, infrastructure, pre-commit

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: configuration, scripts, kubernetes

refactor(kong): updated service host references to use kong proxy
  CLAUDE.md
  README.md
  docs/api/API.md
  docs/api/openapi.yaml
  docs/deployment/kubernetes.md
  postman/Media-Management-Development.postman_environment.json
  postman/README.md
Labels: documentation, configuration

fix(kong): fixed error where cleanup script removed shared kong proxy host entry
  scripts/containerManagement/cleanup-container.sh
Labels: scripts, kubernetes

Kong migration (#117)
  CLAUDE.md
  README.md
  docs/api/API.md
  docs/api/openapi.yaml
  docs/deployment/kubernetes.md
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  postman/Media-Management-Development.postman_environment.json
  postman/README.md
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: documentation, configuration, scripts, kubernetes

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  Dockerfile
  README.md
  docs/deployment/docker.md
  docs/deployment/kubernetes.md
Labels: documentation, docker

Doc update (#124)
  CLAUDE.md
  Dockerfile
  README.md
  docs/deployment/docker.md
  docs/deployment/kubernetes.md
Labels: documentation, docker

ci(renovate): migrated from dependabot to renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

ci(renovate): migrated from dependabot to renovate (#131)
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
  .pre-commit-config.yaml
Labels: github, configuration, pre-commit

ci(renovate): added pre-commit to renovate config (#133)
  .github/renovate.json
  .pre-commit-config.yaml
Labels: github, configuration, pre-commit

chore(ops-cli): removed gateway config from project
  docs/deployment/kubernetes.md
  k8s/gateway-route.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
Labels: documentation, configuration, scripts, kubernetes

chore: removed leftover ingress references in repo
  .github/workflows/deploy.yml
  CLAUDE.md
  docs/architecture/system-overview.md
  docs/deployment/kubernetes.md
  k8s/networkpolicy.yaml
  scripts/containerManagement/get-container-status.sh
Labels: documentation, github, github-actions, configuration, scripts, kubernetes

Remove kong config (#134)
  .github/workflows/deploy.yml
  CLAUDE.md
  docs/architecture/system-overview.md
  docs/deployment/kubernetes.md
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
Labels: documentation, github, github-actions, configuration, scripts, kubernetes

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore: bd doctor fixes
  .beads/config.yaml
Labels: configuration

Beads integration (#135)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore: updated claude config
  CLAUDE.md
Labels: documentation

chore: updated claude config (#136)
  CLAUDE.md
Labels: documentation

fix: fixed build issues
  Cargo.lock
  src/infrastructure/storage/presigned_urls.rs
Labels: dependencies, rust, infrastructure, storage

fix: fixed build issues (#152)
  Cargo.lock
  src/infrastructure/storage/presigned_urls.rs
Labels: dependencies, rust, infrastructure, storage

chore: migrated beads to dolt
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .yamllint.yml
  AGENTS.md
Labels: documentation, configuration

chore: migrated beads to dolt (#157)
  .beads/.gitignore
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .yamllint.yml
  AGENTS.md
Labels: documentation, configuration

.github/labeler.yml:

---
# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - Cargo.toml
  - Cargo.lock

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*
  - CLAUDE.md
  - README.md

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.json"
  - "**/*.toml"
  - .env.example
  - deny.toml
  - rustfmt.toml

# Source code - Rust
rust:
  - "**/*.rs"
  - src/**/*

# Tests
tests:
  - tests/**/*
  - src/**/tests.rs

# Domain layer
domain:
  - src/domain/**/*

# Application layer
application:
  - src/application/**/*

# Infrastructure layer
infrastructure:
  - src/infrastructure/**/*

# Presentation/API layer
api:
  - src/presentation/**/*

# Database/Persistence
database:
  - src/infrastructure/persistence/**/*

# Storage
storage:
  - src/infrastructure/storage/**/*

# HTTP/Networking
http:
  - src/infrastructure/http/**/*
  - src/presentation/handlers/**/*

# Middleware
middleware:
  - src/presentation/middleware/**/*

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Kubernetes
kubernetes:
  - k8s/**/*
  - scripts/containerManagement/**/*

# Pre-commit
pre-commit:
  - .pre-commit-config.yaml
